page-vacina {
    .pag-vacina{
        background-color:#eee;
    }

    ion-card{
        padding:15px;
    }

    .titulo{
        font-size:15px;
        color:#2a3b71;
        font-weight: bold;
    }

    p{
        font-size:15px;
        margin-bottom: 10px !important;
        color:#3e3e3e !important;
    }

}
